<title>Name Grabber</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="application-name" content="Name Grabber">
<meta name="description" content="Get notified when an Instagram username becomes available.">
<meta name="keywords" content="Instagram,username,claim,name,grabber,alert,notify,available,register,willthefirst">
<meta name="author" content="Will Moritz">
<meta property="og:image" content="http://i.imgur.com/5P1xiM3.png" />
<meta property="og:description"
content="Get notified when an Instagram username becomes available." />
<meta property="og:url"
content="http://name-grabber.herokuapp.com/" />
<meta property="og:site_name" content="Name Grabber"/>
