<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1>Claim That Instagram Username</h1>
    <p>Get notified when an Instagram username becomes available.</p>
    <p class="prompt">Enter your desired username:</p>
    <form action="/" method="get">
      <input type="text" name="username" placeholder="eg. hellobingbang">
      <input type="submit">
    </form>
  </div>
</body>
</html>
