<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1>Give me that Instagram Username</h1>
    <h3>Type in the instagram username you'd like to register.</h3>
    <br>
    <form action="/" method="get">
      <input type="text" name="username" placeholder="eg. hellobingbang">
      <input type="submit">
    </form>
  </div>
</body>
</html>
