<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1>Claim That Instagram Username</h1>
    <p class="lead">Get notified when an Instagram username becomes available.</p>
    <div class="main">
      <form class="form-middle" action="/" method="get">
        <p class="prompt">Enter your desired username:</p>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="eg. hellobingbang">
        </div>
        <input type="submit" class="btn btn-default">
      </form>
    </div>
  </div>
</body>
</html>
