<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1>Claim That Instagram Username</h1>
    <p class="lead">Get notified when an Instagram username becomes available.</p>
    <div class="main">
      <% if (exists) { %>
          <h4>The username @<%= username %> is taken.</h4>
          <p class="prompt">Enter your email to be notified when it becomes available.</p>
          <form action="/email" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="eg. something@email.com">
          </div>
            <input type="hidden" name="username" value="<%= username %>">
            <input type="submit" class="btn btn-default">
          </form>
      <% } else { %>
        <p>The username <%= username %> is free, so just register it using the app.</p>
      <% } %></div>
  </div>
</body>
</html>
