<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>Give me that Instagram Username</h1>
  <h3>Thanks! We'll email you when the username <%= username %> becomes available.</h3>
</body>
</html>
