<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1>Name Grabber</h1>
    <p class="lead">Get notified when an Instagram username becomes available.</p>
    <div class="main">
      <p>Thanks! We'll email you when the username @<%= username %> becomes available.</p>
    </div>
</div>
</body>
</html>
